<h3 class="ui header">{{t "forms.i-i-s-kyrsovaya-транзакция-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationModel "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-kyrsovaya-транзакция-e.номер-caption")
      data-test-i-i-s-kyrsovaya-транзакция-e-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номер" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kyrsovaya-транзакция-e.билеты-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.билеты
      displayAttributeName="пунктОтпр"
      autocomplete=true
      relationName="билеты"
      projection="БилетыL"
      title=(t "forms.i-i-s-kyrsovaya-транзакция-e.билеты-caption")
      readonly=readonly
      componentName="билетыLookup"
      class=(if (v-get validationModel "билеты" "isInvalid") "error")
      data-test-i-i-s-kyrsovaya-транзакция-e-билеты=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "билеты" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.клиент_.фИО
      class=(if (v-get validationModel.клиент_ "фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-kyrsovaya-транзакция-e.клиент_.фИО-caption")
      data-test-i-i-s-kyrsovaya-транзакция-e-клиент_-фИО=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.клиент_ "фИО" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.билеты.пунктНазнач
      class=(if (v-get validationModel.билеты "пунктНазнач" "isInvalid") "error")
      label=(t "forms.i-i-s-kyrsovaya-транзакция-e.билеты.пунктНазнач-caption")
      data-test-i-i-s-kyrsovaya-транзакция-e-билеты-пунктНазнач=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.билеты "пунктНазнач" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kyrsovaya-транзакция-e.клиент_-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.клиент_
      relationName="клиент_"
      projection="Клиент_L"
      title=(t "forms.i-i-s-kyrsovaya-транзакция-e.клиент_-caption")
      readonly=readonly
      componentName="клиент_Lookup"
      class=(if (v-get validationModel "клиент_" "isInvalid") "error")
      data-test-i-i-s-kyrsovaya-транзакция-e-клиент_=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "клиент_" "message")}}
  </div>
</form>
